params {

    // Base paths
    root_outdir   = "${env('HOME')}/Documents/mlp/tests/output"
    scripts_dir   = "${env('HOME')}/Documents/mlp/tests/scripts"
    mlp           = "${env('HOME')}/Documents/mlp/target/release/mlp"
    pixi_toml     = "${env('HOME')}/Documents/mlp/pixi.toml"

    // Simulated trials dimensions
    n_years        = [2]
    n_sites        = [2]
    n_treatments   = [2]
    n_entries      = [10]
    n_replications = [3]
    n_hidden_layers = [1]

    // Simulated genotype and phenotype data
    data_types     = ["CONTINUOUS"]
    n_observations = [100]
    n_features     = [1000]

    // Dataset directories
    trials_agridat_dir    = "${env('HOME')}/Documents/mlp/tests/datasets/agridat_TEST"
    gp_azodi2019_dir      = "${env('HOME')}/Documents/mlp/tests/datasets/azodi_2019_TEST"
    remotesensing_farag_2024_dir = "${env('HOME')}/Documents/mlp/tests/datasets/farag_2024"
    remotesensing_farag_2024_fname_trait_csv =
        "${params.remotesensing_farag_2024_dir}/constant_agronomic_traits_2021.csv"
    remotesensing_farag_2024_trait = "Yield"
    remotesensing_farag_2024_dates = ["06142021"]

    // Model exclusions
    exclude_lm     = "FALSE"
    exclude_lmer   = "TRUE"
    exclude_sommer = "TRUE"
    exclude_asreml = "TRUE"

    // Analysis parameters
    n_reps                            = 1
    n_folds                           = 2
    n_iterations_linear               = 100
    n_burnin_iterations_linear        = 10
    models_linear                     = "BRR"
    n_estimators_trees                = 100
    max_depth_trees                   = 2
    learning_rate_trees               = 0.1
    early_stopping_rounds_trees       = 10
    optim_n_estimators_trees          = "100"
    optim_max_depth_trees             = "2"
    optim_learning_rate_trees         = "0.01"
    optim_subsample_trees             = "0.25"

    seed = 42
    verbose   = "TRUE"
}
