process {
    // Directs nextflow to submit tasks as Slurm jobs
    executor = 'slurm'
    clusterOptions = '--account=dbiof2'

    // Resource defaults
    queue  = 'batch'
    cpus   = 4
    memory = '50 GB'
    time   = '7d'

    // Crucial: Automatically hooks the Pixi environment into every Slurm job step
    beforeScript = 'eval "$(pixi shell-hook)"' // Will use ${HOME}/Documents/mlp/pixi.toml

    withLabel: 'gpu' {
        queue  = 'gpu'
        cpus   = 1
        memory = '100 GB'
        time   = '7d'
        clusterOptions = '--account=dbiof2 --gres=gpu:h100:1'
    }
}

// Keep the scheduler safe from connection/job submission spikes
executor {
    name = 'slurm'
    queueSize = 50
    submitRateLimit = '10/1s'
}