process {
    // Resource defaults
    cpus   = 1
    memory = '1 GB'
    time   = '1h'

    // Crucial: Automatically hooks the Pixi environment into every Slurm job step
    beforeScript = 'eval "$(pixi shell-hook)"' // Will use ${HOME}/Documents/mlp/pixi.toml
    
    // // Directs nextflow to submit tasks as Slurm jobs
    // executor = 'slurm'
    // queue    = 'normal'        // Replace with your cluster partition
    // clusterOptions = '--account=my_project' // Custom Slurm allocation flags
}

// Keep the scheduler safe from connection/job submission spikes
executor {
    queueSize = 50
    submitRateLimit = '10/1s'
}